# --- PHP 設定 ---
# 可切換 php:8.1-fpm, php:8.2-fpm, php:8.3-fpm
PHP_VERSION=8.5-fpm

# --- 專案路徑 ---
PROJECTS_ROOT=/data/sites
SOURCE_PATH=/data/sites

# --- 資料庫路徑 ---
DATABASE_ROOT=/data/mysql

# --- 資料庫設定 ---
# 若要切換，請修改 DB_IMAGE 為 mariadb:10.11 或 mysql:8.0
DB_IMAGE=mysql:8.0
DB_ROOT_PASSWORD=your_strong_password
DB_DATABASE=my_app
DB_PORT=3306

# --- NocoDB 設定 MySQL ---
NC_NAME=noco
NC_DB=mysql2://mysql:3306?u=nocodb&p=nocodb%40824&d=my_app

#MYSQL_PORT=3306
#MYSQL_NAME=mysqlb
#MYSQL_ROOT_HOST=127.0.0.1
#MYSQL_ROOT_PASSWORD=your_strong_password
