Options +Indexes

IndexOptions +FoldersFirst +FancyIndexing +HTMLTable +VersionSort +NameWidth=* +Charset=UTF-8 \
			 +SuppressHTMLPreamble +IconHeight=24 +IconWidth=24
IndexStyleSheet "/style.css"

HeaderName "/header.shtml"
ReadmeName "/footer.shtml"

# Ignore these files so they don't list in the directory content
IndexIgnore header.html footer.html .htaccess style.css
